modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["jq", "unzip"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33497
externalPort = 3002

[[ports]]
localPort = 42121
externalPort = 3001

[[ports]]
localPort = 42395
externalPort = 3000

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.development]
SUPABASE_URL_DEV = "https://bdjbfsnmmjobvtszppuh.supabase.co"
SUPABASE_SERVICE_KEY_DEV = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJkamJmc25tbWpvYnZ0c3pwcHVoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NDI1NTkwMCwiZXhwIjoyMDc5ODMxOTAwfQ.GnASHvQshYtRKwaLOIva8GQ1CNVbMZ7TTur__ULJxGw"
VITE_SUPABASE_URL_DEV = "https://bdjbfsnmmjobvtszppuh.supabase.co"
VITE_SUPABASE_ANON_KEY_DEV = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJkamJmc25tbWpvYnZ0c3pwcHVoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQyNTU5MDAsImV4cCI6MjA3OTgzMTkwMH0.doD0v3UgFR0JOAqBmn7A8oBpf0uYUoxc0xtu_mX2-TA"
USE_SUPABASE_DEV = "true"
